table,
th,
tr,
td {
    border: 1px solid sienna;
}

div {
    border: 3px solid seagreen;
}

.FirstDiv {
    border: 2px dotted fuchsia;
}

.SecondDiv {
    border: 2px;
    border-style: ridge;
    border-color: chocolate;
}

.contactusDiv {
    background-color: wheat;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-left: 20px;
    /* padding-right: ; */
    padding-top: 10px;
    padding-bottom: 5px;
    border: 4px dashed darkmagenta;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 2px;
}

.imagediv {
    border: 1px solid;
}